<a href="https://colab.research.google.com/github/kenanmorani/Enzyms_in_food_predictive_modelling/blob/main/linear_regression_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* This model project is conducted for the purpose of fiting a model to help predict types of anzymes to be added and best waiting time required.   
At Yildiz Technical University

In [1]:
import numpy as np
from sklearn import linear_model
import pandas as pd
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
import matplotlib.pyplot as plt

In [3]:
! git clone https://github.com/kenanmorani/Enzyms_in_food_predictive_modelling

Cloning into 'Enzyms_in_food_predictive_modelling'...
remote: Enumerating objects: 45, done.
remote: Counting objects: 100% (45/45), done.
remote: Compressing objects: 100% (40/40), done.
remote: Total 45 (delta 9), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (45/45), done.

In [15]:
dataset = pd.read_csv('/content/Enzyms_in_food_predictive_modelling/data/Farinograph Final Results.csv')

In [16]:
dataset.head()

   Novamyl 1500MG  Lipopan FBG  ...  Maximum(BU)  Ratio Number
0            35.0          4.0  ...        512.0            2.2
1            75.0          4.0  ...        429.0            1.6
2            35.0         10.0  ...        456.0            2.0
3            75.0         10.0  ...        512.0            2.1
4            75.0          4.0  ...        480.0            1.8

[5 rows x 10 columns]

Preprocessing the data

In [17]:
# Deleting 'Time periods in minutes' coloumn
del dataset['Time Period in minutes']

In [21]:
dataset

     Novamyl 1500MG  Lipopan FBG  ...  Maximum(BU)  Ratio Number
0              35.0          4.0  ...        512.0            2.2
1              75.0          4.0  ...        429.0            1.6
2              35.0         10.0  ...        456.0            2.0
3              75.0         10.0  ...        512.0            2.1
4              75.0          4.0  ...        480.0            1.8
..              ...          ...  ...          ...            ...
974             NaN          NaN  ...          NaN            NaN
975             NaN          NaN  ...          NaN            NaN
976             NaN          NaN  ...          NaN            NaN
977             NaN          NaN  ...          NaN            NaN
978             NaN          NaN  ...          NaN            NaN

[979 rows x 9 columns]

In [24]:
dataset = dataset.dropna()

In [25]:
dataset

    Novamyl 1500MG  Lipopan FBG  ...  Maximum(BU)  Ratio Number
0          35.0000       4.0000  ...        512.0            2.2
1          75.0000       4.0000  ...        429.0            1.6
2          35.0000      10.0000  ...        456.0            2.0
3          75.0000      10.0000  ...        512.0            2.1
4          75.0000       4.0000  ...        480.0            1.8
5          35.0000      10.0000  ...        400.0            1.7
6          75.0000      10.0000  ...        394.0            1.8
7          21.3641       7.0000  ...        399.0            1.8
8          88.6359       7.0000  ...        430.0            1.6
9          55.0000       1.9546  ...        456.0            1.8
10         55.0000      12.0454  ...        498.0            2.4
11         55.0000       7.0000  ...        498.0            2.4
12         55.0000       7.0000  ...        393.0            1.5
13         55.0000       7.0000  ...        479.0            1.8
14         55.0000       7.0000  ...        466.0            2.1
15         35.0000       4.0000  ...        771.0            4.6
16         75.0000       4.0000  ...        747.0            4.4
17         35.0000      10.0000  ...        725.0            3.9
18         75.0000      10.0000  ...        716.0            4.1
19         75.0000       4.0000  ...        727.0            3.7
20         35.0000      10.0000  ...        677.0            4.3
21         75.0000      10.0000  ...        665.0            4.4
22         21.3641       7.0000  ...        779.0            5.0
23         88.6359       7.0000  ...        692.0            3.5
24         55.0000       1.9546  ...        651.0            3.7
25         55.0000      12.0454  ...        729.0            4.3
26         55.0000       7.0000  ...        704.0            4.2
27         55.0000       7.0000  ...        592.0            2.8
28         55.0000       7.0000  ...        789.0            4.3
29         55.0000       7.0000  ...        711.0            4.4
30         35.0000       4.0000  ...        849.0            5.9
31         75.0000       4.0000  ...        708.0            5.0
32         35.0000      10.0000  ...        849.0            5.7
33         75.0000      10.0000  ...        790.0            4.3
34         75.0000       4.0000  ...        664.0            4.2
35         35.0000      10.0000  ...        762.0            5.7
36         75.0000      10.0000  ...        720.0            5.3
37         21.3641       7.0000  ...        740.0            5.7
38         88.6359       7.0000  ...        571.0            2.8
39         55.0000       1.9546  ...        770.0            5.2
40         55.0000      12.0454  ...        711.0            4.2
41         55.0000       7.0000  ...        715.0            4.7
42         55.0000       7.0000  ...        617.0            3.8
43         55.0000       7.0000  ...        744.0            4.9
44         55.0000       7.0000  ...        853.0            5.7

[45 rows x 9 columns]

In [26]:
dataset.head()

   Novamyl 1500MG  Lipopan FBG  ...  Maximum(BU)  Ratio Number
0            35.0          4.0  ...        512.0            2.2
1            75.0          4.0  ...        429.0            1.6
2            35.0         10.0  ...        456.0            2.0
3            75.0         10.0  ...        512.0            2.1
4            75.0          4.0  ...        480.0            1.8

[5 rows x 9 columns]

In [27]:
# The input (Time peiod & enzyms types)
x=dataset.iloc[:,0:4].values

In [28]:
x

array([[ 35.    ,   4.    ,  30.    ,   0.    ],
       [ 75.    ,   4.    ,  30.    ,   0.    ],
       [ 35.    ,  10.    ,  30.    ,   0.    ],
       [ 75.    ,  10.    ,  30.    ,   0.    ],
       [ 75.    ,   4.    , 100.    ,   0.    ],
       [ 35.    ,  10.    , 100.    ,   0.    ],
       [ 75.    ,  10.    , 100.    ,   0.    ],
       [ 21.3641,   7.    ,  65.    ,   0.    ],
       [ 88.6359,   7.    ,  65.    ,   0.    ],
       [ 55.    ,   1.9546,  65.    ,   0.    ],
       [ 55.    ,  12.0454,  65.    ,   0.    ],
       [ 55.    ,   7.    ,   6.137 ,   0.    ],
       [ 55.    ,   7.    , 123.863 ,   0.    ],
       [ 55.    ,   7.    ,  65.    ,   0.    ],
       [ 55.    ,   7.    ,  65.    ,   0.    ],
       [ 35.    ,   4.    ,  30.    ,   1.    ],
       [ 75.    ,   4.    ,  30.    ,   1.    ],
       [ 35.    ,  10.    ,  30.    ,   1.    ],
       [ 75.    ,  10.    ,  30.    ,   1.    ],
       [ 75.    ,   4.    , 100.    ,   1.    ],
       [ 35.    ,  10.    , 100.    ,   1.    ],
       [ 75.    ,  10.    , 100.    ,   1.    ],
       [ 21.3641,   7.    ,  65.    ,   1.    ],
       [ 88.6359,   7.    ,  65.    ,   1.    ],
       [ 55.    ,   1.9546,  65.    ,   1.    ],
       [ 55.    ,  12.0454,  65.    ,   1.    ],
       [ 55.    ,   7.    ,   6.137 ,   1.    ],
       [ 55.    ,   7.    , 123.863 ,   1.    ],
       [ 55.    ,   7.    ,  65.    ,   1.    ],
       [ 55.    ,   7.    ,  65.    ,   1.    ],
       [ 35.    ,   4.    ,  30.    ,   2.    ],
       [ 75.    ,   4.    ,  30.    ,   2.    ],
       [ 35.    ,  10.    ,  30.    ,   2.    ],
       [ 75.    ,  10.    ,  30.    ,   2.    ],
       [ 75.    ,   4.    , 100.    ,   2.    ],
       [ 35.    ,  10.    , 100.    ,   2.    ],
       [ 75.    ,  10.    , 100.    ,   2.    ],
       [ 21.3641,   7.    ,  65.    ,   2.    ],
       [ 88.6359,   7.    ,  65.    ,   2.    ],
       [ 55.    ,   1.9546,  65.    ,   2.    ],
       [ 55.    ,  12.0454,  65.    ,   2.    ],
       [ 55.    ,   7.    ,   6.137 ,   2.    ],
       [ 55.    ,   7.    , 123.863 ,   2.    ],
       [ 55.    ,   7.    ,  65.    ,   2.    ],
       [ 55.    ,   7.    ,  65.    ,   2.    ]])

In [31]:
# The outputs (Energy & Resistance)
energy=dataset.iloc[:,4:5].values
resistance=dataset.iloc[:,5:6].values

In [43]:
print(X_Train.shape)

(30, 9)

In [45]:
print(Y_Train.shape)

(30, 1)

In [47]:
# Reshaping array to cvonvert from 1D to 2D
X_Train=X_Train.reshape(-1,1)

AttributeError: ignored

In [35]:
# Splitting the dataset into the taining and test sets
from sklearn.model_selection import train_test_split
X_Train, X_Test, Y_Train, Y_Test = train_test_split(dataset, energy, test_size = 1/3, random_state = 0)

In [37]:
#lin_reg=linear_model.LinearRegression()
# Fitting Simple Linear Regression to the training set
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(X_Train, Y_Train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [38]:
# The mean square error
print("Coefficients:\n",lin_reg.coef_)
print("intercept:\n", lin_reg.intercept_)

Coefficients:
 [[ 1.32732483e-16  1.09634524e-15  1.47451495e-16  9.40226223e-15
   1.00000000e+00 -2.42861287e-16 -7.07767178e-16 -3.46944695e-17
   1.74621602e-15]]
intercept:
 [1.13686838e-13]

In [55]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(Y_Test, Y_Pred))
print('Mean Squared Error:', metrics.mean_squared_error(Y_Test, Y_Pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(Y_Test, Y_Pred)))

Mean Absolute Error: 1.5158245029548804e-14
Mean Squared Error: 3.769703312416142e-28
Root Mean Squared Error: 1.9415723814517298e-14

The lin_reg model perfictly fit the data